<div class="lobby" ng-click="closeAll()">

  <div class="top">
    <div class="left">
      <div class="profile" ng-click="$event.stopPropagation();openLeftMenu()">
        <div class="pic">
          <img ng-src="{{image | serverimage}}" alt="profile pic">
        </div>
        <div class="info">
          <div> {{username}} </div>
          <div> {{balance|number:0}} </div>
        </div>
      </div>
    </div>
    <!-- <div class="right">
      <div class="setting" ng-click="$event.stopPropagation();openRightMenu()">
        <i class="ionic ion-gear-b text_glow"></i>
      </div>
    </div> -->
  </div>


  <div class="main" ng-class="{'variation_active':activeVariation}">
    <div class="logo">
      <img src="img/lobby/logo.png" alt="logo">
    </div>
    <div class="category play_type">
      <div class="row">
        <div class="col play_now" ng-click="playNow($event);resetFilter();">
          <img src="img/lobby/playnow.png">
        </div>
        
        <div class="col variation">
          <img src="img/lobby/variations.png" ng-click="$event.stopPropagation();toggleVariations()">
        </div>
        <div class="col private_table" ng-click="playPrivate();resetFilter()">
          <img src="img/lobby/privatetable.png">
        </div>
        <div class="col play_joker" ng-click="openMyPrivateTable($event);">
            <img src="img/lobby/my_private_table.png">
          </div>
      </div>
    </div>
    <div class="category variation_type">
      <div class="row">
          <div class="col" ng-click="openPriceRangeModal(null,'Joker');resetFilter()">
              <img src="img/lobby/var_poker.png">
            </div>
        <div class="col blue_block" ng-click="openPriceRangeModal(null,['Muflis', 'Lowest']);resetFilter()">
          <img src="img/lobby/var_mufils.png">
        </div>
        <div class="col block2" ng-click="openPriceRangeModal(null,'2 Cards');resetFilter()">
          <img src="img/lobby/var_2card.png">
        </div>
        <div class="col block3" ng-click="openPriceRangeModal(null,'4 Cards');resetFilter()">
          <img src="img/lobby/var_4card.png">
        </div>
      </div>
    </div>
  </div>
</div>




<!-- left menu (profile) -->
<div class="custom_menu profile_menu" ng-class="{'menu_open':leftMenu}" ng-click="closeAll()">
  <div class="menu_cont" ng-click="$event.stopPropagation()">
    <div class="close" ng-click="closeLeftMenu()">
      <i class="icon ion-close text_glow"></i>
    </div>

    <div class="profile">
      <div class="details">
        <div class="name">{{username}}</div>
        <div class="amt">
          <img class="coin img-responsive" src="img/coin.svg">{{balance|number:0}}
        </div>
        <!-- <div class="badges">
          membership : {{userType}}
        </div> -->
      </div>
      <div class="profile_pic">
        <img ng-src="{{image | serverimage}}" class="pic img-responsive">
      </div>
    </div>
    <ion-list class="menu_list custom-scroll">
      <ion-item ng-click="openACStatementModal();">
        account statement
      </ion-item>
      <ion-item ng-click="openTransferStatementModal();transferStatement();">
        transfer statement
      </ion-item>
      <!-- <ion-item ng-click="openMyPrivateTable($event);">
        My Private Table
      </ion-item> -->
      <!-- <ion-item ng-click="createPrivateModal($event)">
        Create Private Table
      </ion-item> -->
      <!-- <ion-item ng-click="openRulesModal($event)">
        Rules
      </ion-item> -->
      <ion-item ng-click="openChangePasswordModal()">
        change password
      </ion-item>
      <ion-item ng-click="logout()">
        Logout
      </ion-item>


    </ion-list>

  </div>
</div>










<!-- right menu(setting) -->
<div class="custom_menu custom_menu_right setting_menu" ng-class="{'menu_open': rightMenu}" ng-click="closeAll()">

  <div class="menu_cont" ng-click="$event.stopPropagation()">
    <div class="heading">

      <span> setting </span>
      <i class="icon ion-chevron-right" ng-click="closeRightMenu()"></i>
    </div>
    <ion-list class="menu_list">
      <ion-item>
        sound
        <div class="custom_toggle" ng-class="{'toggle_on':sound,'toggle_off':!sound}" ng-click="sound=!sound">

        </div>
      </ion-item>
      <!-- <ion-item class="">
        Sound
        <label class="toggle right custom_toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item> -->
      <ion-item>
        notification
        <div class="custom_toggle" ng-class="{'toggle_on':notification,'toggle_off':!notification}" ng-click="notification=!notification">

        </div>
      </ion-item>
      <ion-item>
        vibration
        <div class="custom_toggle" ng-class="{'toggle_on':vibration,'toggle_off':!vibration}" ng-click="vibration=!vibration">
        </div>
      </ion-item>

    </ion-list>

  </div>
</div>
