<div class="login">
  <div class="logo">
    <img src="img/login/logo.png">
  </div>

  <div class="login_block">

    <form name="login">
      <div class="login_button row">
        <div class="col col-20">
          <img src="img/login/username.png" class="icon">
        </div>
        <input class="col" type="text" name="username" ng-model="username" placeholder="USER NAME" required>
      </div>
      <span class="valid" ng-show="login.username.$touched && login.username.$invalid">* username is required.</span>

      <div class="login_button row">
        <div class="col col-20">
          <img src="img/login/password.png" class="icon">
        </div>
        <input class="col" type="password" name="password" ng-model="password" placeholder="PASSWORD" required>
      </div>
      <span class="valid" ng-show="login.password.$touched && login.password.$invalid">* password is required.</span>

      <div class="valid invailduser" ng-if="invalidUser">incorrect username or password</div>

      <div class="login_button_submit row">
        <button class="button" type='submit' ui-sref="lobby">LOGIN</button>
      </div>

    </form>

  </div>
</div>
