<div class="table" ng-click="closeAll()">

  <!-- top block -->
  <div class="top">
    <div class="left_side">
      <div class="option" ng-click="$event.stopPropagation();openLeftMenu()">
        <i class="icon ion-navicon-round text_glow"></i>
      </div>
      <div class="back button_bg" ui-sref="lobby">back to lobby</div>
      <div class="mode button_bg">game mode : Normal</div>
    </div>
    <div class="right_side">
      <i class="icon ion-ios-information-outline text_glow" ng-click="$event.stopPropagation();showTableinfo=!showTableinfo"></i>
    </div>

    <table-info> </table-info>
  </div>

  <div class="table_field">
    <img src="img/doll.png" alt="doll" class="doll">
    <img src="img/table.png" alt="table" class="bg_table">
    <players ng-pos="1" open-player-details=openPlayerDetails()> </players>
    <players ng-pos="2" open-player-details=openPlayerDetails()> </players>
    <players ng-pos="3" open-player-details=openPlayerDetails()> </players>
    <players ng-pos="4" open-player-details=openPlayerDetails()> </players>
    <players ng-pos="5" open-player-details=openPlayerDetails()> </players>
    <!-- close of table field -->
  </div>

  <!-- bottom block -->
  <div class="bottom">
    <div class="pack shadow_glow text_glow" ng-click="pack()">
      Pack
    </div>
    <div class="main_player ">
      <img src="img/player_pic.png" alt="profile" class="main_player_pic">
      <div class="cards">

        <img src="img/card.png" alt="card">
        <img src="img/card.png" alt="card">
        <img src="img/card.png" alt="card">
        <div class="see" ng-click="showCard()">see</div>
      </div>
      <div class="amt button_bg shadow_glow">
        <img src="img/coin.svg">64,000
      </div>
    </div>

    <div class="slideshow text_glow shadow_glow ">SlideShow</div>
    <div class="minus shadow_glow text_glow  " ng-click="reduceChal()">-</div>
    <div class="chal shadow_glow text_glow">Chal {{chalAmount}}</div>
    <div class="plus shadow_glow text_glow" ng-click="increaseChal()">+</div>
  </div>

</div>


<!-- left menu (option) -->




<left-menu></left-menu>
