<div class="table" ng-click="closeAll()">

  <!-- top block -->
  <div class="top">
    <div class="left_side">
      <div class="option" ng-click="$event.stopPropagation();openLeftMenu()">
        <i class="icon ion-navicon-round text_glow"></i>
      </div>
      <!-- <div class="back button_bg" ng-click="backToLobby()">back to lobby</div> -->
      <!-- <div class="mode button_bg">game mode : Normal</div> -->
    </div>
    <div class="right_side">
      <i class="icon ion-ios-information-outline text_glow" ng-click="$event.stopPropagation();showTableinfo=!showTableinfo"></i>
    </div>

    <table-info> </table-info>
  </div>

  <div class="table_field">
    <!-- <div class="new_game_timer" ng-if="showNewGameTime && !(remainingPlayerCount>1) && !tableMessageShow">
      <span> New Game will start in 8s </span>
    </div> -->
    <div class="table_message opt-tan" ng-if="tableMessageShow">
      <span>{{tableMessage}} </span>
    </div>
    <img src="img/doll.png" alt="doll" class="doll">
    <img src="img/table.png" alt="table" class="bg_table">
    <div class="tip" ng-click="openMakeTipModal()" ng-if="!sitHere">
      TIP
    </div>

    <pot-amount ng-amount="potAmount" ng-winner="winnerPlayerNo" ng-player="players"> </pot-amount>
    <tip-amount ng-amount="tipAmount" ng-player-no="TipPlayerNo" ng-player="players"> </tip-amount>
    <div class="card_shuffle">
      <div class="cards">
        <card card='NONE'> </card>
        <card card='NONE'> </card>
        <card card='NONE'> </card>
      </div>
    </div>
    <div class="card-joker" ng-if="jokerCardValue && remainingPlayerCount>1">
      <div class="cards">
        <card card='NONE' class="front"></card>
        <card card='{{jokerCardValue}}' class="back"></card>
      </div>
    </div>
    <players ng-pos="1" ng-click="sitHerefn(1)" ng-player="players[0]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer">
    </players>

    <div class="p1 bootAnimate" ng-if="(players[0].isChaal==true && !players[0].isFold && remainingPlayerCount>1) || (players[0] && startCoinAnime && remainingPlayerCount>1)">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>

    <players ng-pos="2" ng-click="sitHerefn(2)" ng-player="players[1]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer">
    </players>
    <div class="p2 bootAnimate" ng-if="(players[1].isChaal==true && !players[1].isFold && remainingPlayerCount>1) || (players[1] && startCoinAnime && remainingPlayerCount>1)">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>
    <players ng-pos="3" ng-click="sitHerefn(3)" ng-player="players[2]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer">
    </players>
    <div class="p3 bootAnimate" ng-if="(players[2].isChaal==true && !players[2].isFold && remainingPlayerCount>1) ||  (players[2] && startCoinAnime && remainingPlayerCount>1) ">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>
    <players ng-pos="4" ng-click="sitHerefn(4)" ng-player="players[3]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer">
    </players>
    <div class="p4 bootAnimate" ng-if="(players[3].isChaal==true && !players[3].isFold && remainingPlayerCount>1) ||  (players[3] && startCoinAnime && remainingPlayerCount>1)">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>
    <players ng-pos="5" ng-click="sitHerefn(5)" ng-player="players[4]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer">
    </players>
    <div class="p5 bootAnimate" ng-if="(players[4].isChaal==true && !players[4].isFold && remainingPlayerCount>1) ||  (players[4] && startCoinAnime && remainingPlayerCount>1)">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>
    <players ng-pos="6" ng-click="sitHerefn(6)" ng-player="players[5]" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount"
      ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation" ng-winner-player="showWinnerPlayer" ng-if="sitHere">
    </players>
    <!-- close of table field -->
    <div class="p6 bootAnimate" ng-if="(players[5].isChaal==true && !players[5].isFold && remainingPlayerCount>1)  || (players[5] && startCoinAnime && remainingPlayerCount>1)">
      <img src="img/coin.svg" class="coin">{{ chaalAmt}}
    </div>
  </div>

  <!-- bottom block -->
  <div class="bottom" ng-if="!sitHere">
    <button class="pack shadow_glow text_glow" ng-click="pack()" ng-disabled="sideShowDataFrom == 1" ng-if="players[5].isTurn && !players[5].isFold"
      promise-btn="packPromise">
      Pack
    </button>
    <!-- main Player -->
    <mainPlayer ng-click="sitHerefn(6)" ng-game-type="gameType" ng-remaining-player="remainingPlayerCount" ng-pos="0" ng-main="main-player"
      ng-player="players[5]" show-card="showCard()" ng-sit-here="sitHere" ng-win="winnerPlayerNo" ng-animation="startAnimation">
    </mainPlayer>


    <!-- <button class="slideshow text_glow shadow_glow" ng-click="sideShow()" ng-if="(players[5].isTurn)&& (remainingPlayerCount > 2) && !players[5].isFold"
      ng-disabled="blindPlayerCount > 0 || players[5].balance < betamount || sideShowDataFrom == 1" promise-btn="sideShowPromise">SideShow</button>
    
    -->

    <!-- for inactive show button -->
    <button class="slideshow text_glow shadow_glow" ng-click="sideShow()" ng-if="(players[5].isTurn)&& (remainingPlayerCount > 2) && !players[5].isFold"
      ng-disabled="true" promise-btn="sideShowPromise">Show</button>


    <button class="slideshow text_glow shadow_glow" ng-click="showWinner()" promise-btn="showWinnerPromise" ng-if="(players[5].isTurn) && (remainingPlayerCount == 2) && !players[5].isFold"
      ng-disabled="players[5].balance < betamount || sideShowDataFrom == 1">Show</button>

    <button class="minus shadow_glow text_glow" ng-disabled="sideShowDataFrom == 1" ng-click="removeCoin()" ng-if="players[5].isTurn && betamount>minAmt && !players[5].isFold">-</button>
    <button class="minus shadow_glow no-click-effect opacity-05" ng-disabled="sideShowDataFrom == 1" ng-if="players[5].isTurn && betamount<=minAmt && !players[5].isFold">
      -
    </button>
    <button class="chal shadow_glow text_glow" ng-click="playChaal()" ng-disabled="players[5].balance < betamount || sideShowDataFrom == 1"
      promise-btn="chaalPromise" ng-if="players[5].isTurn && !players[5].isFold">
      <span ng-if="players[5].isBlind">blind </span>
      <span ng-if="!players[5].isBlind"> chaal</span> {{betamount}}
    </button>
    <button class="plus no-click-effect shadow_glow text_glow" ng-click="addCoin()" ng-disabled="sideShowDataFrom == 1" ng-if="players[5].isTurn && betamount<maxAmt && !players[5].isFold">+</button>
    <button class="plus no-click-effect no-click-effect shadow_glow opacity-05" ng-disabled="sideShowDataFrom == 1" ng-if="players[5].isTurn && betamount>=maxAmt && !players[5].isFold">+</button>
  </div>
  <!-- left menu (option) -->
  <left-menu></left-menu>

  <!-- spiner -->
  <div class="loader table_loader" ng-if="ShowLoader">
    <div class="center">
      <img src="img/login/logo.png" class="loader-logo">
      <div>Loading... </div>
      <img src="img/spinner.gif">
    </div>
  </div>
</div>
