.pie_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  opacity: .8;
  .animation_wrapper {
    position: relative; // margin: 40px auto;
    // background: white;
    background: #8BC34A;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin timer($item, $duration, $size, $color, $border, $hover: running) {
  #{$item},
  #{$item} * {
    @include box-sizing(border-box);
  }
  #{$item} {
    width: $size;
    height: $size;
  }
  #{$item} .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }
  #{$item} .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota $duration + s linear infinite; // animation-iteration-count: 1; // animation-fill-mode: forwards;
    -webkit-animation: rota $duration + s linear infinite;
  }
  #{$item}:hover .spinner,
  #{$item}:hover .filler,
  #{$item}:hover .mask {
    animation-play-state: $hover;
    -webkit-animation-play-state: $hover;
  }
  #{$item} .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa $duration + s steps(1, end) infinite reverse;
    -webkit-animation: opa $duration + s steps(1, end) infinite reverse;
    border-left: none; // animation-iteration-count: 1; // animation-fill-mode: forwards;
  }
  #{$item} .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa $duration + s steps(1, end) infinite;
    -webkit-animation: opa $duration + s steps(1, end) infinite; // animation-iteration-count: 1; // animation-fill-mode: forwards;
  }
  @keyframes rota {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rota {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opa {
    0% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes opa {
    0% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
}

@include timer('.platform-android,.platform-browser', '.animation_wrapper', 20, 300px, #040404, '5px solid rgba(0,0,0,0.5)');
.platform-ios .pie_loader {
  overflow: hidden;
  opacity: .8;
  .animation_wrapper {
    position: relative; // margin: 40px auto;
    // background: white;
    background: #8BC34A;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -12%);
    -moz-transform: translate(-50%, -12%);
    -ms-transform: translate(-50%, -12%);
    -o-transform: translate(-50%, -12%);
    transform: translate(-50%, -12%);
  }
}

@mixin ios-timer($platformsource, $item, $duration, $size, $color, $border, $hover: running) {
  #{$platformsource} {
    #{$item},
    #{$item} * {
      @include box-sizing(border-box);
    }
    #{$item} {
      width: $size;
      height: $size;
      -webkit-animation: linear-timer $duration+s linear infinite;
      -moz-animation: linear-timer $duration+s linear infinite;
      -ms-animation: linear-timer $duration+s linear infinite;
      -o-animation: linear-timer $duration+s linear infinite;
      animation: linear-timer $duration+s linear infinite;
    }
  }
  @-webkit-keyframes linear-timer {
    0% {
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, 100%);
      -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      -o-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
    }
  }
  @-moz-keyframes linear-timer {
    0% {
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, 100%);
      -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      -o-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
    }
  }
  @-o-keyframes linear-timer {
    0% {
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, 100%);
      -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      -o-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
    }
  }
  @keyframes linear-timer {
    0% {
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, 100%);
      -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      -o-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
    }
  }
}

@include ios-timer('.platform-ios', '.animation_wrapper', 20, 100%, #040404, 'rgba(219, 22, 22, 0.80)');
