/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$color:#FF8072 !default;
$border-image:linear-gradient(to right, rgba(254, 255, 255, 0) 5%, rgba(255, 255, 255, 0.671) 50%, rgba(160, 217, 239, 0) 95%) !default;
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@font-face {
  font-family: 'Cinzel-Black';
  /*to use later*/
  src: url('../font/Cinzel-Black.ttf');
  /*URL to the font*/
}

@font-face {
  font-family: 'Cinzel-Bold';
  /*to use later*/
  src: url('../font/Cinzel-Bold.ttf');
  /*URL to the font*/
}

@font-face {
  font-family: 'Cinzel-Regular';
  /*to use later*/
  src: url('../font/Cinzel-Regular.ttf');
  /*URL to the font*/
}

@font-face {
  font-family: 'CinzelDecorative-Black';
  /*to use later*/
  src: url('../font/CinzelDecorative-Black.ttf');
  /*URL to the font*/
}

@font-face {
  font-family: 'CinzelDecorative-Bold';
  /*to use later*/
  src: url('../font/CinzelDecorative-Bold.ttf');
  /*URL to the font*/
}

@font-face {
  font-family: 'CinzelDecorative-Regular';
  /*to use later*/
  src: url('../font/CinzelDecorative-Regular.ttf');
  /*URL to the font*/
}

body {
  font-family: 'Cinzel-Bold';
  font-size: 1.8vw;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}


.img-responsive{
  max-width:100%;
}
.text_glow {
  color: $color;
  text-shadow: 0px 0px 25px red;
  -webkit-text-stroke: .2px red;
  text-stroke: .2px red;
}

.shadow_glow {
  -webkit-box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.47);
  -moz-box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.47);
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.47);
}

.text_grey {
  text-shadow: 0px 0px 5px #000000;
  color: grey;
  -webkit-text-stroke: .1px black;
}

.button_bg {
  background: #2f1d46;
  border: 1px solid rgba(228, 218, 218, 0.23);
  // border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 4px 7px -2px rgba(8, 8, 8, 0.75);
  border-radius: 4px;
}

//menu for lobby  --> only  menu_cont class inside will be animated
.custom_menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11; // display: none;
  opacity: 0;
  visibility: hidden; // left: -50%;
  transition: all 200ms;
  background: rgba(0, 0, 0, 0.7);
  background-size: 100% 100%;
  font-family: 'Cinzel-Bold';
  &.activated {
    //no effect of transform  when clicked
    transform: none;
  }
  .menu_cont {
    margin-left: -50%; // font-family: 'Cinzel-Regular';
    &.activated {
      //no effect of transform  when clicked
      transform: none;
    }
  }
}

.custom_menu_right {
  .menu_cont {
    float: right;
    margin-right: -40%;
    transition: margin-right 500ms !important; //timing when closing 
  
  }
  &.menu_open {
    .menu_cont {
      transition: margin-right 500ms !important; // timing when opening
      margin-right: 0%; // margin-left: 161px !important;
    }
  }
}

// add this class to open the menu
.menu_open {
  // display:block;
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: opacity 500ms;
  .menu_cont {
    margin-left: 0px;
  }
}



@import "lobby";
@import "table";
@import "login";
@import "modal";