.table {
  background: url("../img/background.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  .top {
    // background: rgba(59, 30, 67, 0.54);
    // border-bottom: 2px solid rgba(0, 0, 0, .3); // height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    font-size: .7em;
    z-index: 10;
    .table-info {
      position: absolute;
      right: 0;
      padding: 2%;
      padding: 0% 4%;
      background: url("../img/table/table_bg.png");
      background-size: 100% 100%;
      margin: 5px;
      td {
        padding: 0px 5px;
      }
    }
    .left_side {
      display: flex;
      flex-direction: row;
      align-items: center;
      .option {
        font-size: 3em;
        margin: 1% 3%;
        margin-right: 0;
        display: inline-block;
      }
      .back {
        display: inline-block; // background: #2e1d46;
        // border-radius: 5px;
        padding: 0px 10px;
        margin: 1% 4%;
        margin: 1% 0%;
        margin-left: 3%;
        margin-right: 1%; // border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 1em;
      }
      .mode {
        display: inline-block; // background: #2e1d46;
        // border-radius: 5px;
        padding: 0px 10px;
        margin: 1% 0%; // border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 1em;
      }
    }
    .right_side {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 3em;
      margin: 1% 3%;
    }
  }
  .table_field {
    position: absolute; // bottom: 0;
    bottom: calc(0px + 43px);
    width: 100%;
    left: 0;
    text-align: center;
    .card_shuffle {
      width: 3vw;
      position: absolute;
      top: 24%;
      left: 40%;
      .cards {
        position: relative;
        card {
          position: absolute;
          width: 100%;
          &:nth-child(1) {
            left: 0
          }
          &:nth-child(2) {
            left: 20%;
          }
          &:nth-child(3) {
            left: 40%;
          }
        }
      }
    }
    .doll {
      width: 8%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -12%;
      z-index: 2;
    }
    .bg_table {
      position: relative;
      width: 85%;
      height: 85%;
    }
    .plyr {
      width: 20%; // background: red;
      position: absolute;
      z-index: 1;
      .name {
        font-size: 1em;
        transform: translate(-25%);
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 0;
        .player_pic {
          width: 45%;
          position: relative;
          img {
            width: 100%;
          }
          .status {
            position: absolute;
            /* top: 15%; */
            // left: 5%;
            /* transform: translate(-50%); */
            width: 100%;
            background: url("../img/table/see.png");
            background-size: 100% 100%;
            width: 100%; // height: 4vh;
            padding: 8px;
            text-align: center;
            bottom: 0%;
            font-size: 0.8em;
            span {
              // position: absolute;
              // top: 50%;
              // left: 25%;
            }
          }
        }
        .cards {
          width: 55%;
          position: relative;
          margin-top: -20%;
          // transition: transform 1s;
          card {
            display: inline-block;
            max-width: 30%;
            position: absolute;
            &:nth-child(1) {
              left: 5%;
              transition: transform 500ms;
              transition-delay: none;
            }
            &:nth-child(2) {
              left: 17%;
              transition: transform 1s;
              transition-delay: 500ms;
            }
            &:nth-child(3) {
              left: 30%;
              transition: transform 1s;
              transition-delay: 1000ms;
            }
          }
          &.cards_open {
            transform: scale(1.7) translate(0%,-5px);

          }
        }
      }
      .amt {
        width: 50%;
        text-align: center;
        font-size: 0.8em;
        .coin {
          width: 1em;
          vertical-align: middle;
        }
      }
    }
    .sit_here {
      // background: url('../img/sit_here.png');
      background: rgba(255, 0, 0, 0.28);
      background-size: 100% 100%;
      border: 1px solid #301d46;
      padding-top: 1%;
      padding-bottom: 1%;
      width: 9%; // height:10vh;
      transform: translateY(30%);
      &>* {
        display: none !important;
      }
      * {
        display: none;
      }
      &:before {
        // content: "";
        // width: 20px;
        // height: 30px;
        // background: url("../img/arrow.gif");
        // background-size: 100% 100%;
        // position: absolute;
        // top: -60%;
      }
      &:after {
        content: "Sit Here";
        height: 100%;
        width: 100%;
        font-size: 1em;
        font-family: 'Cinzel-Regular';
        word-spacing: 10em;
        line-height: 1.5;
      }
      &.player3 {
        right: 23%;
      }
      &.player4 {
        right: 5%;
      }
      &.player5 {
        bottom: 10%;
      }
      &.player6 {
        bottom: 10%;
        left: 30%;
      }
      &.main-player {
        width: 10% !important;
        bottom: 20%;
      }
    }
    .no_player {
      background: rgba(255, 0, 0, 0.28);
      background-size: 100% 100%;
      border: 1px solid #301d46;
      padding-top: 1%;
      padding-bottom: 1%;
      width: 9%; // height:10vh;
      transform: translateY(30%);
      opacity: 0.85; // width: 100% !important;
      // transform: translateY(0%) !important;
      &>* {
        display: none !important;
      }
      &:after {
        content: "No Player";
        height: 100%;
        width: 100%;
        font-size: 1em;
        font-family: 'Cinzel-Regular';
        word-spacing: 10em;
        line-height: 1.5;
      }
      &.player3 {
        right: 23%;
      }
      &.player4 {
        right: 5%;
      }
      &.player5 {
        bottom: 10%;
      }
      &.player6 {
        bottom: 10%;
        left: 30%;
      }
      &.main-player {
        width: 10% !important;
        bottom: 20%;
      }
    }
    .winner{
      transform: translate(-5%);
      width: 9em;
      height: 3em;
      img{
        width: 100%;
      }
    }
   
  }
  .bottom {
    position: absolute;
    background: rgba(5, 2, 9, 0.7);
    width: 100%; // height: 13vh;
    padding: 2px;
    bottom: 0px;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    mainplayer {
      width: 18%;
      position: absolute;
      left: 19%;
      bottom: 10%;
    }
    .main_player {
      width: 100%;
      position: relative; // transform: translateY(-41%);
      bottom: 0;
      .main_winner{
        position: absolute;
        background: #ff000000;
        z-index: 1;
        width: 100%;
        top: -475%;
        left: 0;
        img{
          width: 100%;
        }
      }
      .status {
        position: absolute;
        background: #ff000000;
        z-index: 1;
        width: 100%;
        top: -340%;
      }
      .main_player_pic {
        width: 75%; // padding: 10%;
        position: absolute;
        bottom: 0;
        left: 12%;
        bottom: 40%;
        img {
          width: 100%
        }
        .pie_loader {
          top: 0;
          left: 0;
        }
      }
      .cards {
        position: absolute;
        bottom: 5%;
        transform: translate(-50%, -5%);
        width: 100%;
        left: 50%;
        z-index: 1;
        card {
          width: 30%;
          display: inline-block;
          &:nth-child(1) {
            position: relative;
            transform: rotate(-10deg) translate(40%);
            transition: transform 1s;
          }
          &:nth-child(2) {
            position: relative;
            transform: rotate(0deg) translate(0%) scale(1.1);
            transition: transform 1s;
            transition-delay: 500ms;
          }
          &:nth-child(3) {
            position: relative;
            transform: rotate(10deg) translate(-40%, 10%);
            transition: transform 1s;
            transition-delay: 1000ms;
          }
        }
      }
      .see {
        position: absolute;
        top: -70%;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background: url('../img/table/see.png');
        background-size: 100% 100%;
      }
      .amt {
        position: relative; // background: #2f1d46;
        // border: 1px solid rgba(228, 218, 218, 0.23);
        // border-top: 0px;
        // border-left: 0px;
        // -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        // box-shadow: inset 2px 4px 7px -2px rgba(8, 8, 8, 0.75);
        // border-radius: 4px;
        margin: 2%;
        padding: 3%;
        padding-top: 3%;
        -webkit-text-stroke: 0;
        z-index: 1;
        img {
          width: 1em;
          vertical-align: middle
        }
      }
    }
    .pack,
    .slideshow,
    .minus,
    .chal,
    .plus {
      background: url("../img/table/bg_button1.png");
      background-size: 100% 100%;
      padding: 1.5% 2.5%;
      margin: 0% 0.5%;
      font-size: 1.2em;
      border: 0;
      font-family: inherit;
    }
    .pack {
      margin-right: 20%;
    }
    .minus,
    .plus {
      font-size: 3em;
      padding: 0% 2.5% 0.7%;
      line-height: 1;
    }
    .chal {
      width: 20%;
    }
    .slideshow {
      min-width: 16%;
    }
  } //player position
  .player1 {
    top: 30%;
    left: 5%;
  }
  .player2 {
    left: 22%;
    top: -6%;
  }
  .player3 {
    right: 15%;
    top: -6%;
  }
  .player4 {
    top: 30%;
    right: 5%;
    .profile {
      flex-direction: row-reverse !important;
      .cards {
        right: -12%;
      }
    }
    .amt {
      width: 140% !important;
    }
    .name{
      transform: translate(25%) !important;

    }
  }
  .player5 {
    // transform: translateY(-90%);
    bottom: 0;
    right: 25%;
  }
  .player6 {
    bottom: 0%;
    left: 22%;
  }
}

//sidemenu for left side
//optionmenu
.option_menu {
  .menu_cont {
    width: 40%;
    background: url('../img/menu_bg.png');
    background-size: 100% 100%;
    height: 100%;
    transition: all 500ms;
    .heading {
      background: url('../img/menu_heading.png');
      background-size: 100% 100%;
      font-size: 1.5em;
      padding: 4% 5%;
      margin-left: 1px;
      margin-right: 1px;
      i {
        padding-right: 10%;
      }
      span {}
    }
    .menu_list {
      .item {
        background: transparent;
        color: white;
        border: none;
        font-size: 1em;
        border-image: linear-gradient(to right, rgba(254, 255, 255, 0) 5%, rgba(255, 255, 255, 0.671) 50%, rgba(160, 217, 239, 0) 95%);
        border-bottom: 1px solid;
        border-image-slice: 2;
        padding: 5% 10%;
        i {
          padding-right: 5%;
          vertical-align: text-top;
          font-size: 1.2em;
        }
        .item-content {
          background: transparent;
          color: white;
          padding: 0px;
        }
      }
    }
  }
}

//all animation
.total_played_coin {
  position: absolute;
  width: 22%;
  left: 58%;
  top: 25%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: left; // word-spacing: 5px;
  color: white;
  .coin {
    width: 1em;
    vertical-align: middle;
    margin-right: 5px;
  }
  transition: none;
  z-index: 4 !important;
  &.to_p1 {
    transform: none !important;
    bottom: unset !important;
    top: 65% !important;
    left: 16% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p2 {
    transform: none !important;
    bottom: unset !important;
    top: 30% !important;
    left: -1% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p3 {
    transform: none !important;
    bottom: unset !important;
    top: 0% !important;
    left: 0% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p4 {
    transform: none !important;
    bottom: unset !important;
    top: -5% !important;
    left: 22% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p5 {
    transform: none !important;
    bottom: unset !important;
    top: -5% !important;
    left: 56% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p6 {
    transform: none !important;
    bottom: unset !important;
    top: 0% !important;
    left: 75% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p7 {
    transform: none !important;
    bottom: unset !important;
    top: 35% !important;
    left: 80% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p8 {
    transform: none !important;
    bottom: unset !important;
    top: 60% !important;
    left: 62% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
  &.to_p9 {
    transform: none !important;
    bottom: unset !important;
    top: 70% !important;
    left: 42% !important;
    font-size: 2em;
    transition: all 5s !important;
    opacity: 0;
  }
}

.card_shuffle_animation {
  &.player1 {
    card {
      &:nth-child(1) {
        transition: none !important;
        transform: scale(.9) translate(900%, -200%) !important;
      }
      &:nth-child(2) {
        transition: none !important;
        transform: scale(.9) translate(860%, -200%) !important;
      }
      &:nth-child(3) {
        transition: none !important;
        transform: scale(.9) translate(790%, -200%) !important;
      }
      &:nth-child(4) {
        transition: none !important;
        transform: scale(.9) translate(790%, -200%) !important;
      }
    }
  }
  &.player2 {
    card {
      &:nth-child(1) {
        transform: scale(0.9) translate(320%, 238%) !important;
        transition: none !important;
      }
      &:nth-child(2) {
        transform: scale(0.9) translate(280%, 238%) !important;
        transition: none !important;
      }
      &:nth-child(3) {
        transform: scale(0.9) translate(210%, 238%) !important;
        transition: none !important;
      }
      &:nth-child(4) {
        transform: scale(.9) translate(190%, 238%) !important;
        transition: none !important;
      }
    }
  }
  &.player3 {
    card {
      &:nth-child(1) {
        transform: scale(.9) translate(-1114%, 236%) !important;
        transition: none !important;
      }
      &:nth-child(2) {
        transform: scale(.9) translate(-1155%, 236%) !important;
        transition: none !important;
      }
      &:nth-child(3) {
        transform: scale(.9) translate(-1228%, 236%) !important;
        transition: none !important;
      }
      &:nth-child(4) {
        transform: scale(1.6) translate(-1328%, 236%) !important;
        transition: none !important;
      }
    }
  }
  &.player4 {
    card {
      &:nth-child(1) {
        transform: scale(.9) translate(-1284%, -125%) !important;
        transition: none !important;
      }
      &:nth-child(2) {
        transform: scale(.9) translate(-1312%, -125%) !important;
        transition: none !important;
      }
      &:nth-child(3) {
        transform: scale(.9) translate(-1392%, -125%) !important;
        transition: none !important;
      }
      &:nth-child(4) {
        transform: scale(.9) translate(-1492%, -125%) !important;
        transition: none !important;
      }
    }
  }
  &.player5 {
    card {
      &:nth-child(1) {
        transform: scale(.9) translate(-796%, -534%) !important;
        transition: none !important;
      }
      &:nth-child(2) {
        transform: scale(.9) translate(-830%, -534%) !important;
        transition: none !important;
      }
      &:nth-child(3) {
        transform: scale(.9) translate(-900%, -534%) !important;
        transition: none !important;
      }
      &:nth-child(4) {
        transform: scale(1.5) translate(-1000%, -534%) !important;
        transition: none !important;
      }
    }
  }
}

.main_card_anime {
  card {
    &:nth-child(1) {
      transform: translate(390%, -350%) scale(.55) !important;
      transition: none !important;
    }
    &:nth-child(2) {
      transform: translate(276%, -350%) scale(.55) !important;
      transition: none !important; // transition: transform 2s;
    }
    &:nth-child(3) {
      transform: translate(170%, -350%) scale(.55) !important;
      transition: none !important; // transition: transform 3s;
    }
    &:nth-child(4) {
      transform: translate(70%, -350%) scale(.55) !important;
      left: 50% !important;
      transition: none !important; // transition: transform 3s;
    }
  }
}

// message
.new_game_timer {
  position: fixed;
  /* position: absolute; */
  top: 3%;
  /* width: 100%; */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  width: 55%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.table_message {
  position: fixed;
  /* position: absolute; */
  top: 3%;
  /* width: 100%; */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  width: 55%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
