<ion-modal-view class="custom-model statement-model">

  <ion-content>
    <div class="close" ng-click="closeACStatement()">
      <i class="icon ion-close text_glow"></i>
    </div>
    <div class="heading">Account Statement</div>
    <div class="top_field">
      <!-- Date within
      <select>
        <option selected>1 Day</option>
        <option>2 Day</option>
        <option>3 Day</option>
      </select>
      of
      <input type="text" ng-model="month"> -->
    </div>

    <!-- <div class="statement_content ">
      <table>
        <tr>
          <th>Date</th>
          <th>W &amp; L</th>
          <th>amount</th>
        </tr>
        <tr ng-repeat="result in results" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="loadingDisable">
          <td>
            {{result.createdAt | date:'d-MMM-yyyy h:mm a'}}
            <br/> teenpatti
          </td>
          <td>{{result.type}}</td>
          <td>{{result.amount}}</td>
        </tr>
      </table>
    </div> -->


    <div class="custom-table" ng-if="results">
      <ion-list>
        <ion-item class="item">
          <div class="row">
            <div class="col-60">
              <div class="bold">Date</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">W &amp; L</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">amount</div>
            </div>
          </div>
        </ion-item>
        <ion-item collection-repeat="result in results" class="item">
          <div class="row">
            <div class="col-60">
              <div class="bold">{{result.createdAt | date:'d-MMM-yyyy h:mm a'}}
                <br/> teenpatti</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{result.type}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{result.amount}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <!-- no Data found -->
    <div class="loader bold" ng-if="noDataFound" ng-bind-html="displayMessage.main">
    </div>
    <div class="loader" ng-if="!results">
      Loading ..
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c"></ion-infinite-scroll>
  </ion-content>
  </ion-content>
</ion-modal-view>
