<ion-modal-view class="custom-model statement-model">
  <div class="custom-header top_field">
    <div class="close" ng-click="closeACStatement()">
      <i class="icon ion-close text_glow"></i>
    </div>
    <div class="heading">Account Statement</div>
    <form name="filterTable">
      <div class=" filter">
        Filter with
        <input type="date" ng-model="accountFilterData.date" class="filter-date">
        <button class="custom_button  btn_search" type='submit' ng-click="resetpage();" promise-btn="filterTablePromise">
          Reset </button>
        <button class="custom_button  btn_search" type='submit' ng-click="accountStatement();" promise-btn="filterTablePromise">
          Search </button>
      </div>
    </form>
    <div class="net_profit_show" ng-if="(statementNetProfit || statementNetProfit==0 ) && !(results.length==0)">
      <span>Net {{statementNetProfit
        < 0 ? 'Loss': 'Profit'}} : <span ng-class="{'red':statementNetProfit < 0,'green':statementNetProfit > 0 || statementNetProfit == 0}">
          {{statementNetProfit | number:0}} </span>
      </span>
    </div>
  </div>
  <ion-content>
    <div class="custom-table custom-table-top" ng-if="results">
      <ion-list>
        <ion-item class="item">
          <div class="row">
            <div class="col-40">
              <div class="bold">Date</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">Game Type</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">W &amp; L</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">amount</div>
            </div>
          </div>
        </ion-item>
        <ion-item collection-repeat="result in results" class="item">
          <div class="row">
            <div class="col-40">
              <div class="bold">{{result.createdAt | date:'d-MMM-yyyy h:mm a'}}
                <br/> teenpatti</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{result.subGame}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{result.type}}</div>
            </div>
            <!-- <div class="col-20" ng-if="result.type=='Lose'">
              <div class="text-center bold">{{result.amount}}</div>
            </div>
            <div class="col-20" ng-if="result.type=='Win'">
              <div class="text-center bold">{{result.playerWinAmount}}</div>
            </div> -->
            <div class="col-20">
              <div class="text-center bold">{{result.amount | number:0}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <!-- no Data found -->
    <div class="loader bold" ng-if="noDataFound" ng-bind-html="displayMessage.main">
    </div>
    <div class="loader" ng-if="!results">
      Loading ..
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c"></ion-infinite-scroll>
  </ion-content>
  </ion-content>
</ion-modal-view>
