<ion-modal-view class="custom-model statement-model" >

        <ion-content >
            <div class="close" ng-click="closeACStatementModal()" > <i class="icon ion-close text_glow"></i></div>
          <div class="heading">account statement</div>
          <div class="top_field">
            Date within
            <select>
              <option selected>1 Day</option>
              <option>2 Day</option>
              <option>3 Day</option>
            </select>
            of
            <input type="text" ng-model="month">
          </div>
      
          <div class="statement_content ">
            <table>
              <tr>
                <th>gametype</th>
                <th>time</th>
                <th>commision</th>
                <th>netwin</th>
              </tr>
      
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
              <tr>
                <td>
                  20 jan 2018
                  <br/> teenpatti
                </td>
                <td>7.30 pm</td>
                <td>$2950</td>
                <td>$1280</td>
              </tr>
            </table>
      
      
          </div>
      
        </ion-content>
      </ion-modal-view>
      