<ion-modal-view class="custom-model statement-model change_password-model">
  <ion-content>
    <div class="close" ng-click="closeChangePasswordModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">change password</div>
    <div class="field">
      <form name="changepassword">
        <div class="login_button row">
          <div class="col col-20">
            <img src="img/login/icon_lock.png" class="icon">
          </div>
          <input class="col" type="password" name="oldPassword" ng-model="data.oldPassword" placeholder="OLD PASSWORD" required>
        </div>
        <div class="login_button row">
          <div class="col col-20">
            <img src="img/login/icon_lock.png" class="icon">
          </div>
          <input class="col" type="password" name="newPassword" ng-model="data.newPassword" placeholder="New PASSWORD" required>
        </div>
        <div class="login_button row">
          <div class="col col-20">
            <img src="img/login/icon_lock.png" class="icon">
          </div>
          <input class="col" type="password" name="repeatPassword" ng-model="data.repeatPassword" placeholder="REPEAT PASSWORD" required>
        </div>
        <div ng-if="fail1">Old password did not match</div>
        <div ng-if="fail2">password did not match</div>
        <div ng-if="success">password successfully changed</div>
        <button type="submit" ng-click="passwordChange(data);data={}" promise-btn="changePasswordPromise">Change</button>
      </form>



    </div>



  </ion-content>
</ion-modal-view>
