<ion-modal-view class="custom-model statement-model price_range_modal">

  <ion-content >
    <div class="heading">
      Table
    </div>

    <div class="category">

      <div class="type" ui-sref="table">
        <div class="left_img">
            <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
        </div>
        <div class="right_img">
            <img src="img/lobby/price_modal/right_img.png"  class="img-responsive">
            <div class="price">
                <img src="img/coin.svg" class="coin">500 - <img src="img/coin.svg" class="coin">1000
            </div>
        </div>
      </div>

  
      <div class="type" ui-sref="table">
        <div class="left_img">
            <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
        </div>
        <div class="right_img">
            <img src="img/lobby/price_modal/right_img.png"  class="img-responsive">
            <div class="price">
                <img src="img/coin.svg" class="coin">5K - <img src="img/coin.svg" class="coin">10K
            </div>
        </div>
      </div>


      <div class="type" ui-sref="table">
        <div class="left_img">
            <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
        </div>
        <div class="right_img">
            <img src="img/lobby/price_modal/right_img.png"  class="img-responsive">
            <div class="price">
                <img src="img/coin.svg" class="coin">10K - <img src="img/coin.svg" class="coin">50K
            </div>
        </div>
      </div>


      <div class="type" ui-sref="table">
        <div class="left_img">
            <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
        </div>
        <div class="right_img">
            <img src="img/lobby/price_modal/right_img.png"  class="img-responsive">
            <div class="price">
                <img src="img/coin.svg" class="coin">50K - <img src="img/coin.svg" class="coin">1L
            </div>
        </div>
      </div>


      <div class="type" ui-sref="table">
        <div class="left_img">
            <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
        </div>
        <div class="right_img">
            <img src="img/lobby/price_modal/right_img.png"  class="img-responsive">
            <div class="price">
                <img src="img/coin.svg" class="coin">1L - <img src="img/coin.svg" class="coin">5L
            </div>
        </div>
      </div>

      
   
  </ion-content>
</ion-modal-view>
