<ion-modal-view class="custom-model statement-model price_range_modal">

    <ion-content>
        <div class="heading">
            Table
        </div>

        <div class="category">

            <div class="type" ng-click="goToTable(table)" ng-repeat="table in tableData track by $index">
                <div class="left_img">
                    <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
                </div>
                <div class="right_img">
                    <img src="img/lobby/price_modal/right_img.png" class="img-responsive">
                    <div class="price">
                        <img src="img/coin.svg" class="coin">{{table.blindAmt}} - <img src="img/coin.svg" class="coin">{{2*table.blindAmt}}
                    </div>
                </div>
            </div>


    


    </ion-content>
</ion-modal-view>