<ion-modal-view class="custom-model statement-model small-model player-details ">
  <ion-content>
    <div class="outer">
      <div class="close" ng-click="closePlayerDetails()">
        <i class="icon ion-close text_glow"></i>
      </div>
      <div class="profile">


        <div class="profile_info">
          <div class="name">christie kallis</div>
          <div class="amt">
            <img src="img/coin.svg" class="coin img-responsive"> 10 k
          </div>
          <div class="badges">membership : premium</div>

        </div>
        <div class="profile_pic">
          <img src="img/player_pic.png" class="img-responsive">
        </div>
      </div>

      <div class="profile_data">
        <div class="row">
          <div class="col p_heading">
            Table stats
          </div>
          <div class="col p_heading">
            player rank
          </div>
        </div>
        <div class="row">
          <div class="col table_stats">
            <div class="chips_won">
              chips won:
              <br/>
              <img src="img/coin.svg" class="coin">8450541
            </div>
            <div class="hands_won">
              hands won:
              <br/> 55
            </div>

          </div>
          <div class="col player_rank">
            <div class="last_week">
              hands won last week:
              <br/> 234
            </div>
          </div>
        </div>

      </div>
      <dic class="active_days">
        active : 6 Day 12 hrs
      </dic>


    </div>
  </ion-content>
</ion-modal-view>
