<ion-modal-view class="custom-model statement-model price_range_modal">
  <ion-content>
    <div class="close" ng-click="closeMyPrivateModal();ModalInfo.hide()">
      <i class="icon ion-close text_glow"></i>
    </div>
    <div class="heading">
      My Private table
    </div>
    <div class=" create-button">
      <button class="custom_button" ng-click="createPrivateModal($event)">Create Table</button>
    </div>
    <div class="top_field"></div>
    <div class="custom-table" ng-if="privateTableDatas">
      <ion-list>
        <ion-item class="item">
          <div class="row">
            <div class="col-20">
              <span class="bold">Name</span>
            </div>
            <div class="col-20">
              <div class="bold text-center">Game type</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">Stakes</div>
            </div>
            <div class="col-20">
              <span class="bold">Password</span>
            </div>
            <div class="col-20">
              <span class="bold">Actions</span>
            </div>
          </div>
        </ion-item>
        <ion-item ng-repeat="data in privateTableDatas" class="item">
          <div class="row">
            <div class="col-20">
              <span>{{data.name}}</span>
            </div>
            <div class="col-20">
              <div class="text-center">{{data.gameType}}</div>
            </div>
            <div class="col-20">
              <div class="text-center">{{data.blindAmt}} - {{data.chalAmt}}</div>
            </div>
            <div class="col-20">
              <div class="text-center">{{data.password}}</div>
            </div>
            <div class="col-20">
              <div>
                <button class="custom_button" ng-click="goToPrivateTableLogIn({_id:data._id,name:data.name})">Log In</button>
                <span class="delete_icon" ng-click="deletePrivateTable(data)">
                  <i class="ion-icon ion-trash-a"></i>
                </span>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <!-- no Data found -->
    <div class="loader bold" ng-if="noDataFound" ng-bind-html="displayMessage.main">
    </div>
    <!-- //loader -->
    <div class="loader" ng-if="!tablesDataFilter">
      Loading ..
    </div>
    <ion-infinite-scroll on-infinite="loadMorePrivateTable()" icon="ion-loading-c"></ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
