<ion-modal-view class="custom-model statement-model table_info_modal small-model">

  <ion-content>
    <!-- <div class="close" ng-click="closeTableInfoModal()">
        <img src="img/close.png">
      </div> -->
    <div class="heading">Table Info</div>
    <table>
      <tr>
        <td>
          Boot Amount
        </td>
        <td>
          500
        </td>
      </tr>
      <tr>
        <td>
          Chal Limit
        </td>
        <!--<td>
           {{blindAmt}}-{{chalAmt}}/{{2*blindAmt}}-{{2*chalAmt}}
          </td>-->

        <td>
          15K
        </td>
      </tr>
      <tr>
        <td>
          Max Blind
        </td>
        <td>
          5L
        </td>
      </tr>
    </table>
    <div class="ok">
      <button ng-click=closeTableInfoModal()>OK</button>
    </div>
  </ion-content>
</ion-modal-view>
