<div class="custom_menu option_menu" ng-class="{'menu_open':leftMenu}" ng-click="closeAll()">
    <div class="menu_cont" ng-click="$event.stopPropagation()">
  
  
      <div class="heading">
        <i class="icon ion-ios-arrow-back" ng-click="closeLeftMenu()"></i>
        <span> Menu </span>
      </div>
      <ion-list class="menu_list custom-scroll">
        <ion-item ui-sref="lobby" ng-click="backToLobby()">
          <i class="icon ion-android-arrow-back text_glow"></i>Back to lobby
        </ion-item>
        <ion-item ng-click="standUp()">
          <i class="icon ion-person text_glow"> </i> standup
        </ion-item>
        <ion-item>
          <i class="icon ion-help text_glow"></i> help
        </ion-item>
        <!-- <ion-item>
            <i class="icon ion-android-arrow-back text_glow"> feedback
        </ion-item> -->
        <ion-item>
          <i class="icon ion-ios-copy text_glow"></i> terms of service
  
        </ion-item>
        <ion-item>
          <i class="icon ion-ios-paper text_glow"></i> privacy and policy
  
        </ion-item>
      </ion-list>
  
    </div>
  </div>