 <div class="plyr player{{pos}}" ng-click="openPlayerDetails()">
      <div class="name">sarah boysen</div>
      <div class="profile">
        <div class="player_pic">
          <img src="img/player_pic.png" alt="player_pic" class="pic">
          <div class="status">
            <span> seen</span>
          </div>
        </div>
        <div class="cards">
          <img src="img/card.png" alt="card">
          <img src="img/card.png" alt="card">
          <img src="img/card.png" alt="card">

        </div>

      </div>
      <div class="amt">
        <img src="img/coin.svg" class="coin">64000</div>
    </div>