<!-- <div class="total_played_coin"
 ng-class=" {
    'to_p1': players[0].playerNo == winnerPlayerNo,
    'to_p2': players[1].playerNo == winnerPlayerNo,
    'to_p3': players[2].playerNo == winnerPlayerNo,
    'to_p4': players[3].playerNo == winnerPlayerNo,
    'to_p5': players[4].playerNo == winnerPlayerNo,
    'to_p6': players[5].playerNo == winnerPlayerNo,
    'to_p7': players[6].playerNo == winnerPlayerNo,
    'to_p8': players[7].playerNo == winnerPlayerNo,
    'to_p9': players[8].playerNo == winnerPlayerNo,
  }"
  > -->
<div class="total_played_coin">
  <img src="img/coin.svg" class="coin">{{amount}}
</div>
