<div class=" table-info border-gradient" ng-if="showTableinfo">
    <table class="bg-style">
      <tr>
        <th colspan="2" class="heading">Table Info</th>
      </tr>
      <tr>
        <td>
          Boot Amount
        </td>
        <td>
          {{bootAmt}}
        </td>
      </tr>
      <tr>
        <td>
          Chal Limit
        </td>
        <td>
          {{chalLimit}}
        </td>
      </tr>
      <tr>
        <td>
          Max Blind
        </td>
        <td>
          {{maxBlind}}
        </td>
      </tr>
    </table>
  </div>