<div class="tip_animate p1" ng-if="players[0].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p2" ng-if="players[1].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p3" ng-if="players[2].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p4" ng-if="players[3].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p5" ng-if="players[4].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p6" ng-if="players[5].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p7" ng-if="players[6].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p8" ng-if="players[7].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  
  <div class="tip_animate p9" ng-if="players[8].playerNo == PlayerNo">
    <img src="img/coin.svg" class="coin">{{amount}}</div>
  